.page-container {
  width: 100%;
  margin-bottom: 100px;
}

.w-100 {
  height: 400px;
}

.type-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.type-title {
  display: flex;
  padding-left: 30px;
  font-weight: 800;
  font-size: 25px;
  margin-bottom: 0px;
}

.d-block,
.w-100 {
  object-fit: cover;
}
